input {
  background-color: var(--yellow);
  border: white solid 3px;
  border-radius: 30px;
  font-size: 24px;
  color: var(--darkblue);
  padding: 10px 50px 10px 50px;
  width: 500px;
}

button {
  background-color: var(--lightblue);
  color: var(--yellow);
  border: none;
  font-size: 35px;
  padding: 0px;
  border-radius: 50px;
  margin: -50px;
  cursor: pointer;
}

h1 {
  font-size: 80px;
  color: var(--darkyellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
}
