<div class="container">
    <h1>Pokémon App</h1>
    <label for="name"></label>
    <input type="text" (keyup)="onKey($event)" id="name" placeholder="Enter your name">
    <button (click)="login()"><i class="fas fa-arrow-circle-right"></i></button>
</div>