<h1>Trainer profile</h1>
<div class="buttons">
     <button (click)="redirectToCatalogue()">To Catalogue</button>
     <button (click)="logout()">Logout</button>
</div>
<h2>Welcome {{name}}</h2>
<h3>Collected Pokémon</h3>

<ul>
<li *ngFor="let item of pokemon;">
     {{item}} 
</li>

</ul>


