h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
}
h2 {
  text-align: center;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
}
h3 {
  text-align: center;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
}
ul {
  text-align: center;
  list-style: none;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
  padding: 0%;
}
li {
  margin: 0%;
  padding: 0%;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}
button {
  background-color: var(--yellow);
  border: none;
  padding: 5px 10px;
  font-family: "pokemon";
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 50px 50px 50px 50px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px;
  color: red;
  font-weight: lighter;
  -webkit-text-stroke: 0.5px black;
}
button:hover {
  background-color: var(--darkyellow);
}
