/* You can add global styles to this file, and also import other style files */

@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

:root {
    --lightblue: #2a75bb;
    --yellow : #ffcb05;
    --darkblue: #3c5aa6;
    --darkyellow: #c7a008;
}

body {
    background: linear-gradient(90deg, var(--darkblue) 0%,var(--lightblue) 35%, rgba(0,212,255,1) 100%);
    font-family:"Pokemon";
    margin:0px;
}

.container {
    margin:0 auto;
    text-align:center;
}