<h1>Pokémon Catalogue</h1>
<button (click)="redirectToTrainer()">Trainer Page</button>
<div class="pokemonOuterContainer">
    <div class="pokemonInnerContainer" *ngFor="let item of pokemonCatalogueList;" (click)="addPokemon(item.name)">
            {{item.name}}
        <img src={{item.imgUrl}} alt="" />
        <img class="pokeball" *ngIf="item.caught" src="../../assets/poke-ball.png" alt="" />
    </div> 
</div>
