.pokemonOuterContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  color: var(--yellow);
}

.pokemonInnerContainer {
  flex-direction: unset;
  flex-wrap: nowrap;
  flex-grow: inherit;
  width: 96px;
  height: 200px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1px;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 1rem;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 0.6px black;
}

.pokeball {
  position: relative;
  top: -20px;
}

h1 {
  text-align: center;
  color: var(--yellow);
  font-weight: lighter;
  -webkit-text-stroke: 1px black;
}

button {
  background-color: var(--yellow);
  border: none;
  padding: 5px;
  padding-left: 20px;
  font-family: "pokemon";
  font-size: 18px;
  margin-bottom: 30px;
  border-radius: 0px 50px 50px 0px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px;
  color: red;
  font-weight: lighter;
  -webkit-text-stroke: 0.5px black;
}
button:hover {
  background-color: var(--darkyellow);
}
